inzynierka_s28087.code-workspace

backend/.venv
backend/*.sqlite3
backend/staticfiles/
backend/local_settings.py
*.pyc
__pycache__/

backend/**/migrations/*.pyc
backend/**/migrations/__pycache__/

frontend/node_modules/
frontend/.expo/
frontend/.cache/
frontend/web-build/
frontend/dist/
expo-env.d.ts
app-example

frontend/ios/
frontend/android/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

*.log
npm-debug.*
yarn-debug.*
yarn-error.*

*.tsbuildinfo

.vscode/
.env*
.DS_Store
Thumbs.db


