inzynierka_s28087.code-workspace

backend/.venv
backend/*.sqlite3          # Pokrywa db.sqlite3
backend/staticfiles/
backend/local_settings.py
*.pyc
__pycache__/

backend/**/migrations/*.pyc
backend/**/migrations/__pycache__/

frontend/node_modules/     # Pokrywa globalne node_modules
frontend/.expo/            # Pokrywa globalne .expo/
frontend/.cache/
frontend/web-build/        # Pokrywa globalne web-build/
frontend/dist/             # Pokrywa globalne dist/
expo-env.d.ts
app-example                # Zostawiamy, jeśli to jest folder testowy

frontend/ios/              # Dokładniejszy niż globalne /ios
frontend/android/          # Dokładniejszy niż globalne /android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

*.log
npm-debug.*
yarn-debug.*
yarn-error.*

*.tsbuildinfo

.vscode/
.env* # Pokrywa .env i .env*.local
.DS_Store                  # macOS
Thumbs.db                  # 

docs/run.txt

